* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  height: 10vh;
  background: linear-gradient(30deg, #280037, #3c0029, #002b58, #5a0015);
  background-size: 300% 300%;
  animation: fade 15s ease-in-out infinite; }
  header #header__row #header__row__dropdown {
    font-family: CaviarBold !important; }
  header #header__row #header__row__login a {
    font-family: Caviar; }
    header #header__row #header__row__login a:hover {
      color: yellow !important; }